@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

body {
    margin: 0;
    transition: all 800ms;
    background-color: #DEA057;
}

.sections {
    text-align: center;
    background-position: center;
    max-height: 150%;
}

.sec-img {
    z-index: -999;
    position: relative;
    left: 0;
    right: 0;
    -webkit-filter: drop-shadow(1px 1px 0 rgb(255, 255, 255))
    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 0 white) 
    drop-shadow(-1px -1px 0 white);
    text-align: center;
}

.sec-img img {
    max-width: 100%;
    max-height: 1000px;
    height: 550px;
}
.sec-img_ img{
    float: left;
    position: relative;
    width: 20%;
    text-align: center;
    left: 30%;
    bottom: 50px;
}

.sec-text1 {
    transform: translateY(0px);
    z-index: 999;
}

.sec-text2 {
    z-index: 9999;
}

.section2 {
    transform: translateY(500px)
}

.sec-text3 {
    position: absolute;
    top: 300px;
    left: 2%;
}


.section3{
    transform: translateY(1200px);
}

.section3 img {
    transform: translateY(-200px);
    position: relative; 
    left: 20%;
}

.sec-text3 h1 {
    transform: translateY(-100px);
    color: #ffffff;
}

.sec-logo1 {
    padding-left: 200px;
}

.sec-text h1 {
    background-color: #9772FB;
    box-shadow: 0px 0px 40px 40px #B6FFCE;
    color: #d2cae9;
    font-size: 15px;
    z-index: 999999;
}

.section4 {
    transform: translateY(1900px);
    text-align: center;
    position: relative;
    width: 100%;
}

.video-container {
    width: 80%; /* you have to have a size or this method doesn't work */
    height: 600px; /* think about making these max-width instead - might give you some more responsiveness */

    position: absolute; /* positions out of the flow, but according to the nearest parent */
    top: 0; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto;
}

iframe {
    width: 100%;
    height: 90%;
}

.sec-text4 {
    width: 560px; /* you have to have a size or this method doesn't work */ /* think about making these max-width instead - might give you some more responsiveness */

    position: absolute; /* positions out of the flow, but according to the nearest parent */
    top: 550px; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto;
}


.color-one {
    background-color: #765ac4;
}

.color-two {
    background-color: #95d8ab;
}

.color-three {
    background-color: #9FC088;
}

.color-four {
    background-color: #3A3845;
}

@media screen and (max-device-width: 640px) {
    .sec-img_ {
        width: 1000px;
        transform: translateX(-300px);
    }
}